@import "../../styles/variables.scss";

.Menu{
    .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        .item{
            font-size: 12px;
            font-weight: 200px;
            color: $soft-color;
        }

        .listItem{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;

            &:hover{
                background-color: rgba(240, 238, 235, 0.307);
            }
        }

        .img{
            &:hover{
                color: black;
            }
        }
    }
}